/***************************
********** Header **********
***************************/
#header-section-personal {
	background: #9aae04;
}

#header-title-personal {
	color: white !important;
	font-weight: bold;
}
/***************************
********** Navbar **********
***************************/

/***************************
********** Footer **********
***************************/

/***************************
********** Login  **********
***************************/
#login-form-text-personal {
	font-weight: bold;
	color: #2F7F58;
}

#login-button-personal {
	background: #2F7F58;
	font-weight: bold;
}