/***************************
********** Header **********
***************************/
#header-section-personal {
	background: #9aae04;
}

#header-title-personal {
	color: white !important;
	font-weight: bold;
}
/***************************
********** Navbar **********
***************************/

/***************************
********** Footer **********
***************************/

/***************************
********** Login  **********
***************************/
#login-form-text-personal {
	font-weight: bold;
	color: #9aae04;
}

#login-button-personal {
	background: #9aae04;
	font-weight: bold;
}

/***************************
********** table ***********
***************************/
#table-th-personal>tr>th {
	background: #e9ecef;
	color: #868e96;
	font-weight: bold;
	text-align: left
}

/***************************
*********** Form ***********
***************************/
#form-button-add-personal {
	background: #9aae04;
}

#form-button-cancel-personal {
	color: #868e96;
	border-color: #868e96;
}

#form-button-add-personal:hover {
	background: #839403;
}

#form-button-cancel-personal:hover {
	background-color: #edeeef;
	border-color: #868e96;
}